
*.ipch
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.opendb
*.db-wal
*.db-shm
*.db
*.db
*.tlog
*.obj
*.obj
*.idb
*.log
*.ilk
*.pdb
*.obj
*.exe
*.db
.vs/DM2212_Physics/v17/.suo
*.pdb
*.idb
*.pdb
*.exe
*.tlog
*.log
*.ilk
*.obj
*.obj
*.obj
*.idb
*.idb
*.pdb
*.exe
.vs/DM2212_Physics/v17/.suo
*.db
